/*Page d'accueil*/
body{
    backgroud-color: red;
    padding-top: 54px;
    padding-bottom: 54px;
}
@media (max-width: 992px) {
  body {
    padding-top: 56px;
  }
  #rechercher
    {
        margin-left: 100px; 
    }
}

h2{
    text-align: center;
}

#filtre{
    margin-left: 22px;
}

#input{
    margin-left: 22px;
}
/*Button rechercher*/
#rechercher
{
   margin-left: 50px;   
}
@media (max-width: 575px) {
  
  #rechercher
    {
        margin-left: 130px;
        margin-top: 20px;
    }
}
