/*CSS ENI-Encheres-Lorris*/
body{
    background-color: #EEEEEE;
    padding-top: 40px;
    padding-bottom: 54px;
}

#logo-encheres{
	height: 80%;
}
@media (max-width: 992px) {
  body {
    padding-top: 56px;
  }
  #rechercher
    {
        margin-left: 100px; 
    }
}

h2{
    text-align: center;
}

#filtre{
    margin-left: 22px;
}

#input{
    margin-left: 22px;
}
/*Button rechercher*/
#rechercher
{
   margin-left: 50px;   
}
@media (max-width: 575px) {
  
  #rechercher
    {
        margin-left: 130px;
        margin-top: 20px;
    }
}

#box{
    margin-top: 10px;
}


#logo-eni{
	margin-left: 20px;
	
}

.barblanc{
	height: 50px;
	background-color: #EEEEEE;
	margin-top:15%;
}

.barbleu{
	height: 50px;
	background-color: #005ADF;
}
.nous{
	text-align: center;
}

#logo-eni{
	height: 95%%;
}







